@font-face {
	font-family: 'Mulish';
	src: url('./assets/fonts/Mulish-Regular.woff') format('woff'),
		url('./assets/fonts/Mulish-Regular.ttf') format("truetype");
	font-weight: regular;
}

@font-face {
	font-family: 'Mulish';
	src: url('./assets/fonts/Mulish-Bold.woff') format('woff'),
		url('./assets/fonts/Mulish-Bold.ttf') format("truetype");
	font-weight: bold;
}
