main {
	max-width: 1440px;
	margin: 0 auto;

	.breadcrumbs {
		display: flex;
		padding: 10px 20px 15px 20px;
		font-size: 12px;

		li {
			color: gray;

			&::after {
				content: ">";
				margin: 0 5px;
			}

			&:last-child {
				color: $color-copy-breadcrumbs;

				&::after {
					content: "";
				}
			}
		}
	}

	.product {
		display: flex;
		flex-direction: row;
		margin: 20px 150px 0 150px;

		&-image {
			background: url('./assets/images/drizzle_grey_apron.jpg') no-repeat;
			width: 585px;
			height: 585px;
			background-size: contain;
		}

		&-details {
			display: flex;
			flex: 1;
			flex-direction: column;

			h1 {
				font-weight: normal;
				font-size: 22px;
			}

			.callout {
				text-transform: uppercase;
				color: $color-copy-callout;
				font-size: 12px;
				margin: 8px 0;
			}

			.message {
				font-size: 13px;
				color: $color-copy-message;
				padding: 10px 0;

				a {
					text-decoration: none;

					&:hover {
						cursor: pointer;
					}
				}
			}

			.selector {
				.headline {
					margin-bottom: 5px;
					font-size: 14px;

					span {
						color: $color-copy-selection;

						&:last-child {
							font-weight: bold;
						}
					}
				}

				.options {
					display: flex;

					li {
						margin-right: 5px;
						display: flex;

						&:hover {
							cursor: pointer;
						}

						&.selected,
						&:hover {
							border: 3px solid $color-selection-border;
						}

						span {
							display: inline-block;
						}
					}
				}

				&-color {
					.options {

						li {
							box-shadow: 0 4px 5px rgb(0 0 0 / 10%);
							border: 3px solid white;

							span {
								width: 56px;
								height: 36px;
								margin: 1px;
								border: 1px solid $color-selection-border;
							}
	
							.drizzle-grey {
								background: $swatch-drizzle-grey;
							}
	
							.jet-black {
								background: $swatch-jet-black;
							}
	
							.navy-blue {
								background: $swatch-navy-blue;
							}
	
							.claret-red {
								background: $swatch-claret-red;
							}
	
							.sage-green {
								background: $swatch-sage-green;
							}
						}
					}
				}

				&-personalization,
				&-size {
					margin-top: 7px;

					li {
						border: 1px solid $color-selection-border;
						font-size: 11px;
						color: $color-copy-selection;
						align-items: center;

						span {
							padding: 6px 8px;
						}

						&.selected span,
						&:hover span {
							padding: 6px;
						}
					}
				}
			}

			.price {
				font-size: 15px;
				font-weight: bold;
				color: $color-copy-selection;
				margin-top: 35px;
			}

			.quantity {
				display: inline-block;
				width: 50px;
				padding: 8px 5px;
				margin: 6px 0;
				font-size: 14px;
				text-align: center;
			}

			.add-to-cart {
				text-transform: uppercase;
				height: 41px;
				font-size: 14px;
				font-weight: bold;
				background: $color-copy-callout;
				color: white;
				border: 0;
				margin-top: 10px;

				&:hover {
					cursor: pointer;
				}
			}

			.product-information {
				border-top: 1px solid black;
				border-bottom: 1px solid black;
				margin: 40px 0;

				> div {
					padding: 10px 0 10px 12px;
					border-bottom: 1px solid $color-product-info-border;

					&:last-child {
						border: 0;
					}
				}

				h2 {
					text-transform: uppercase;
					padding: 17px 0 17px 17px;
					font-size: 18px;
					line-height: 12px;
					font-weight: 400;
					color: $color-copy-message;

					&:hover {
						cursor: pointer;
					}
				}

				h3 {
					font-size: 13px;
					font-weight: bold;
				}

				p {
					padding-bottom: 10px;
					font-size: 13px;
					color: $color-copy-selection;
				}

				li {
					font-size: 13px;
					color: $color-copy-selection;
					list-style-type: disc;
					margin: 2px 30px;
				}
			}
		}
	}
}